
.fa-anchor, .fa-coffee {
	  font-size: 200px;
}


.fea-img {
    font-size: 30px;
    color: #F05557;
    margin-top: 10px;
}

.paddingLeft {
	margin-bottom: 40px;
}

.padding-bottom-about{
	margin-bottom: 10px;
}

.lst-none {
list-style-type: none;
}


